.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

.button-bar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 75%;
    padding: 10px;
    margin-top: 20px;
}

  .special-button{
    max-width: 80px;
    background: #225d9e;
    color: white;
    height: 80px;
    flex-grow: 1;
    border-radius: 50%;
    border: none;
    font-size: 2.0rem;
    box-shadow: 0px 5px rgba(0.063, 0.02, 0, 0.631);
  }